.refresh {
    cursor: pointer;
    margin: 0;
    font-size: 28px;
    color:whitesmoke;
    text-align: right;
}

.container{
    overflow:auto;
}

#imgDivHolder, #gifDivHolder{
    border-radius: 16px;
    background-color: #333333;
    margin-bottom: 1em;
}

#gifDivHolder{
    float:right;
}

#imgDiv img, #gifDiv img{
    margin-bottom: 1.5em;
}
